.header a:hover, .header a:focus{
  text-decoration: none;
}

a.active{
  color: #337ab7;
}

.header{
  height: 50px;
  background-color: rgba(0,0,0,0.4);
  font-size: 16px;
  color: white;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  left: 0;
  top: 0;
}

.header > a{
  color: white;
  padding: 15px 20px;
  display: inline-block;
}

section.main-content{
  padding-top: 65px;
}

.main-content h1{
  text-align: center;
}

.main-content .jumbotron h1{
  text-align: left;
}

.courses input, .main-content form input, .loader{
  display: block;
  margin: 0 auto;
}

.about p{
  text-align: center;
}

.loader{
  padding-top: 58px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
